.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
data/**
www/**
sarpy.Rproj
app/www/bc_bound.gpkg
app/www/bc_grid.gpkg
app/www/dfo_sara_critical_habitat_bc.gpkg
app/www/dfo_sara_occurrences_in_BC_all_species.gpkg
app/www/risk_status_merged.csv
app/www/CDC_polygons_trimmed_by_DFO.gpkg
sarpy.Rproj
.gpkg
.csv
output/**
app/www/dfo/**
.rds
app/www/*.rds
